
/* General Styling */

body {
    margin: 0;
    background-color: #fdf0d5;
}
p {
    font-family: 'NCS Radhiumz', 'Chai', Georgia, "Times New Roman", Times, serif;
}
h1 {
    font-family: 'Sentrix Space', 'NCS Radhiumz', Arial, Helvetica, sans-serif;
}
h2 {
    font-family: 'NCS Radhiumz', 'National Park R', Arial, Helvetica, sans-serif;
    color: #28afb0;
}

/* Header, Main, Etc. */

header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #eb5e55;
    position: sticky;
    max-width: 100%;
    overflow: auto;
    margin: auto;
    padding: 0.2rem 0;
    z-index: 2;
}

main {
    background-color: #fdf0d5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Header Elements */

.socials-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 1rem 3rem;
    max-width: 100%;
}

.socials {
    max-width: 2rem;
    padding: 0 0.5rem;
    transition: all .2s ease-in-out;
}

.socials:hover {
    transition: 0.4s;
    transform: scale(0.75); 
}

.outer-nav-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    max-width: 100%;
}

.nav-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-content: space-between;
    max-width: 100%;
}

.navbutton {
    transition: all .2s ease-in-out;
}

.navbutton:hover {
    transition: 0.4s;
    transform: scale(0.9); 
}

.bigbold {
    display: flex;
    justify-content: center;
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
    text-align: center;
    max-width: 100%;
    text-shadow: -5px 5px #68E1E2;
}

.bigbold-sub {
    display: flex;
    justify-content: center;
    margin-left: 10px;
}

/* Body Elements */

.buttontext {
    color: #68E1E2;
    margin: 0 10px;
}

.buttontext:hover,
.buttontext:focus {
    color:#30D9D9;
}

.buttontext:hover {
	cursor: pointer;
}

.youarehere {
    color: white;
    margin: 0 10px;
}

.headshot {
    max-height: 80rem;
    max-width: 100%;
}

.greetings {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 1rem 10px;
}

.bio {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 1rem;
    margin: 1rem 10px;
    align-content: center;
}


/* Resume Page */

.resumemain {
    padding: 0.5rem;
    max-width: 500px;
    margin: auto;
}
.resumename {
    text-align: left;
    margin-top: 0;
    font-size: 2.5rem;
}
.resumeaddress {
    text-align: left;
    font-size: 1.4rem;
}
h2.resume {
    font-size: 1.5rem;
}
p.resume {
    font-size: 1rem;
}
ul.resume {
    font-size: 1.2rem;
    font-family: 'Chai', Arial, Helvetica, sans-serif
}

a.downloadlink {
    color: #007f81;
}

.downloadbutton {
    text-align: center;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    text-decoration: none;
    font-size: 2rem;
    transition-duration: 0.5s;
    margin: auto;
    max-width: 500px;
    border-top: 5px dotted black;
}
.downloadbutton:active {
    background-color: #28afb0;
}


/* Bio Page */

.biopicture {
    max-width: 100%;
    max-height: 100%;
}

.centered {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Sentrix Space', 'NCS Radhiumz', Arial, Helvetica, sans-serif;
}


/* Art Pages */

.bigbold-art {
    display: block;
    margin: 2rem 0 0 0;
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
    text-align: center;
}

.backbutton {
    display: none;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    margin: 1rem auto;
}

h2.arttitle {
    margin: 1rem auto;
    text-align: center;
}

p.artdesc {
    margin: 0 auto 3rem auto;
    text-align: center;
}

.images {
    margin: 5px;
}


/* Work Page Grid Code */

.workmain {
    display: grid;
    grid-template: 25% 25% 25% 25% / 100%;
}

#topleft {
    grid-column: 1;
    grid-row: 1;
    border: 8px solid #fdf0d5;
    background-image: url("../images/inception.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 20.3125rem;
}

#topright {
    grid-column: 1;
    grid-row: 2;
    border: 8px solid #fdf0d5;
    background-image: url("../images/charcoalfinal.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 20.3125rem;
}

#bottomleft {
    grid-column: 1;
    grid-row: 3;
    border: 8px solid #fdf0d5;
    background-image: url("../images/piratesite.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 20.3125rem;
}

#bottomright {
    grid-column: 1;
    grid-row: 4;
    border: 8px solid #fdf0d5;
    background-image: url("../images/walking.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 20.3125rem;
}

#topleft:hover {
    position: relative;
    display: block;
    background-color: black;
}

#topright:hover {
    position: relative;
    display: block;
}

#bottomleft:hover {
    position: relative;
    display: block;
}

#bottomright:hover {
    position: relative;
    display: block;
}

.overlay {
    max-width: 100%;
    max-height: 100%;
    margin-left: 4rem;
    margin-right: 4rem;
    background-color:#eb5e55;
    transition: all .2s ease-in-out;
}

.overlay:hover {
    color:#68E1E2;
    background-color:#eb5e55;
    transition: 0.4s;
    transform: scale(1.2); 
}

.overlayText {
    color:#68E1E2;
    text-shadow: 0 0 10px black;
    display: flex;
    justify-content: center;
    margin-top: 8rem;
    font-family: 'NCS Radhiumz', Arial, Helvetica, sans-serif;
    z-index: 1;
}

.gridimage {
    width: 100%
}


/* Content Pages Grid Code */

.contentmain {
    display: grid;
    grid-template-columns: 100%;
}

.contenttitle {
    font-family: 'NCS Radhiumz', Arial, Helvetica, sans-serif;
    margin: 1rem;
    color:#007f81;
}

.contentdesc {
    margin: 1rem;
}

.contentimages {
    max-width: 100%;
    max-height: 100%;
}

#firstleft {
    grid-column: 1;
    grid-row: 1;
    border: 20px solid #fdf0d5;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: right;
    float: right;
}

#firstright {
    grid-column: 1;
    grid-row: 2;
    border: 20px solid #fdf0d5;
    max-width: 100%;
    margin: auto;
}

#secondleft {
    grid-column: 1;
    grid-row: 4;
    border: 20px solid #fdf0d5;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

#secondright {
    grid-column: 1;
    grid-row: 3;
    border: 20px solid #fdf0d5;
    max-width: 100%;
    text-align: left;
    float: left;
}

#thirdleft {
    grid-column: 1;
    grid-row: 5;
    border: 20px solid #fdf0d5;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: right;
    float: right;
}

#thirdright {
    grid-column: 1;
    grid-row: 6;
    border: 20px solid #fdf0d5;
    max-width: 100%;
    margin: auto;
}

#fourthleft {
    grid-column: 1;
    grid-row: 8;
    border: 20px solid #fdf0d5;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

#fourthright {
    grid-column: 1;
    grid-row: 7;
    border: 20px solid #fdf0d5;
    max-width: 100%;
    text-align: left;
    float: left;
}

#fifthleft {
    grid-column: 1;
    grid-row: 9;
    border: 20px solid #fdf0d5;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: right;
    float: right;
}

#fifthright {
    grid-column: 1;
    grid-row: 10;
    border: 20px solid #fdf0d5;
    max-width: 100%;
    margin: auto;
}

#sixthleft {
    grid-column: 1;
    grid-row: 12;
    border: 20px solid #fdf0d5;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

#sixthright {
    grid-column: 1;
    grid-row: 11;
    border: 20px solid #fdf0d5;
    max-width: 100%;
    text-align: left;
    float: left;
}

#seventhleft {
    grid-column: 1;
    grid-row: 13;
    border: 20px solid #fdf0d5;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: right;
    float: right;
}

#seventhright {
    grid-column: 1;
    grid-row: 14;
    border: 20px solid #fdf0d5;
    max-width: 100%;
    margin: auto;
}

.wireframelink {
    text-align: center;
}

.visitformore {
    text-align: center;
}

/* THIS ONE IS ONLY USED WHEN IT'S LESS THAN 800px */